
.toast {
    opacity: 1 !important;
    box-shadow: none !important;
}

.toast-container > div{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control, select, .email-compose-fields .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint {
    color: #F4F4F4;
}

.result-performance {
    color: #00F9FF;
}

.milisecond-speed {
    color: rgb(171, 171, 171);
}

.sidebar .sidebar-body .nav .nav-item .nav-link .link-title {
    margin-top: 4px !important;
}

.text-red {
    color: #00F9FF;
}